/wp-admin/
/wp-admin
/wp-content/index.php
/wp-content/ai1wm-backups
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/wp-includes
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php
/wp-content/themes/twenty*/

# Uploads
/wp-content/uploads/
/wp-content/uploads
# Log files
*.log
/wp-content/plugins
.htaccess
wp-admin.zip
wp-activate.php
\wp-content\upgrade