:root {
    --primary-color: #19C37D;
    --text-color: #363636;
    /* font-family: 'Inter', sans-serif; */
}
body{
    background: #F9F8F8;
}
/* buttons */
.btn a{
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.btn {
    background-color: var(--primary-color);
    border-radius:0%;
}

.btn:active {
    box-shadow: 0px 0px 5px 1px var(--primary-color);
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}
.btn:hover{
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}
.btn img {
    margin-left: 5px;
}

/* home */
#home {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#home nav{
    background-color: #fff;
}

#home ul {
    font-family: 'Inter', sans-serif;
}

#home ul li{
    margin-right: 24px;
}

#home ul button{
    margin-left: 40px;
}

.home {
    padding-top: 17%;
}

#home .text {
    padding-top: 20%;
    color: var(--text-color);
    width: 388.54px;
}

#home .text h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
}

#home .text h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 80px;
}

#home .text p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 24px;
}

#home .text button {
    width: 171.9px;
    height: 47.96px;
}

/* presentation */

#presentation {
    padding-top: 80px;
}

.text-presentation {
    width: 555px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
}

.text-presentation h2 {
    font-size: 40;
    width: 380px;
}

.text-presentation p {
    font-size: 16px;
}
.text-presentation button {
    padding: 8px 24px;
}
/* services  */

#services{
    margin-top: 120px;
}

.services-text{
    width: 875px;
    height: 110px;
    margin-inline: auto;
    margin-bottom: 80px;

}

.services-text h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
}

.services-text p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 16px;
}
.services-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 361px;
    height: 90px;
    background: #ffffff;
    margin-block: 16px;
}

#services .lb,
#services .rb {
    margin-top: 80px;
}

.service-img button {
    margin: auto;    
}

/* contact */
.contact{
    margin-top: 120px;
    width: 1131px;
    height: 597px;
    left: 153px;
    top: 3742px;
    background: #002C34;
    border-radius: 32px;
    color: #F9F8F8;
}

.contact-a{
    background-image: url(../img/quantic-tribal.png);
    background-repeat: no-repeat;
}

.contact-a img{
    margin-top: 14px;
}

/* abaut  */

#abaut {
    margin-top: 120px;
}

.abaut-img{
    margin-right: 120px;
}

/* footer */
#footer{
    margin-top: 160px;
    background: #002C34;
    align-items: center;
    padding: 80px 156px;
    height: 468px;
    color: #F9F8F8;
}